<div fxLayout="column">
  <div  >
    <div id="main" [fxLayout]="direction" fxLayout.sx="column" fxFlex style='height: 300px;'>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2"  style='height: 100px;'>first</div>
      <div class='flx-border-box cell-cont' fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1"  style='height: 100px;'>second</div>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3"  style='height: 100px;'>third</div>    

    </div>
  </div>
  <div>
    <div id="main2" [fxLayout]="direction" fxLayout.sx="column" fxFlex style='height: 300px;'>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2"  style='height: 100px;'  >four</div>
      <div class='flx-border-box cell-cont' fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1"  style='height: 100px;'>five</div>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3"  style='height: 100px;'>six</div>    

    </div>
  </div>
</div>



