<p>
  alt2-view works!
</p>
<div fxLayout="column">

    <div id="main" [fxLayout]="direction" fxLayout.sx="column" fxFlex style='height: 300px; border-style: solid; border-color: $pcolor;'>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2" style="height: 100px; border-style: solid; border-color: $pcolor;">first




      </div>
      <div class='flx-border-box cell-cont' fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1" style='height: 100px;'>




      second</div>
      <div class='flx-border-box cell-cont' fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3" style='height: 100px; ; border-style: solid; border-color: $pcolor;'>




      third</div>    

    </div>


</div>



