
<div style='border-style: solid;' class='rounded-box'>
  <form name="detailForm" class='detail-search-form' 
    [formGroup] ="formmodel"
    (ngSubmit) = "onSubmit(formmodel.value)"  >


    <div class='flex-row'>

      <div class='flex-equi-cell main-form-cell' style='border-style: none;'>

        <label class='data-group-header'>Basic Info:</label>

        <div class='form-section'>
          <br />
          <div class="form-group">
            <label for="id">ID:</label><br />  <!-- hack to fix -->
              <input type="text" name="id" placeholder="id" formControlName="id">
          </div>

          <div class="form-group">
            <label for="ownerCode">Owner ID:</label>
              <input type="text" name="ownerCode" placeholder="Owner ID" formControlName="ownerCode">
          </div>

          <div class="form-group">
            <label for="firstName">First Name:</label>
              <input mdInput type="text" name="firstName" placeholder="First Name" formControlName="firstName">
          </div>    

          <div class="form-group">
            <label for="lastName">Last Name:</label>
              <input mdInput type="text" name="lastName" placeholder="Last Name" formControlName="lastName">
          </div>

          <div class="form-group">    
            <label for="place">Appointment Place:</label>   
              <input mdInput type="text" name="place" placeholder="Place" formControlName="place">
          </div>

          <div class="form-group">    
            <label for="appDate">Appointment Date:</label>    
              <input mdInput type="date" name="appDate" placeholder="appDate" formControlName="appDate">
          </div>

          <div class="form-group">
            <label for="appTime">Appointment Time:</label>    
              <input mdInput type="time" name="appTime" placeholder="appTime" formControlName="appTime">
          </div>

          <div class="form-group">
            <label for="appDescription">Appointment Description:</label>   
              <input mdInput type="text" name="appDescription" placeholder="appDescription" formControlName="appDescription">
          </div>

          <div class="form-group">
            <label for="fishName">Fish Name:</label>    
                <input mdInput type="text" name="fishName" placeholder="Fish Name" formControlName="fishName">
          </div>

          <div class="form-group">
            <label for="carBrand">Car Brand:</label>    
              <input mdInput type="text" name="carBrand" placeholder="Car Brand" formControlName="carBrand">
          </div>

        </div> <!-- 'form-section' -->
      </div>

      <div class='flex-equi-cell main-form-cell' style='border-style: none;'>

        <label class='data-group-header'>Supplimental Info:</label>

        <div class='form-section'>
          <section class="example-section">

            <mat-form-field>
              <label>Animal Type:</label>
              <md-input-container>      
                <br /><mat-checkbox class="example-margin" checked formControlName="checker"   ngDefaultControl>human</mat-checkbox>
                <br /><mat-checkbox class="example-margin" color='dadrk-blue' formControlName="flipper" ngDefaultControl >cyborg</mat-checkbox>
                <br /><mat-checkbox class="example-margin" formControlName="xer" ngDefaultControl>Check me!</mat-checkbox>
              </md-input-container>

            </mat-form-field>

          </section>


          <section class="example-section">

            <mat-form-field>
              <label>Favorite Animal:</label>
              <select mat-select placeholder="favorite animal" formControlName="animals" ngDefaultControl>
                <option mat-option value='cat'>Cat</option>
                <option mat-option value='dog'>Dog</option>      
                <option mat-option value='gerbil'>Gerbil</option>
              </select>
            </mat-form-field>

          </section>

       
          <section class="example-section">

            <mat-form-field>
              <label>Favorite Adddress:</label>
                <select id="type" formControlName="type">
                    <option [value]="'home'">Home Address</option>
                    <option [value]="'billing'">Billing Address</option>
                </select>
            </mat-form-field>

          </section>



          <section class="example-section">

            <mat-form-field>
              <label>Best Friend:</label>
                <select mat-select placeholder="guy" formControlName="guy" ngDefaultControl>
                  <option mat-option *ngFor="let guy of this.people" value="{{guy}}">{{ guy }}</option>
                </select>
            </mat-form-field>

          </section>


          <div class='flex-row'>

            <div class='centered-input search-form-row' style='border-style: nonne;'>


              <div class="form-group">
                <label for="searchOnNameOrID">Search:</label>
                <input type="text" id="searchOnNameOrID" name="searchOnNameOrID" placeholder="searchOnNameOrID" formControlName="searchOnNameOrID">
              </div>

            </div>
          </div>


          <div class='flex-row button-group '>
            <div class='button-row' style='border-style: none;'>
                  <button mat-button mat-raised-button color='primary' (click)="onSubmitSearch()">Search</button>
                  <button mat-button mat-raised-button class='indigo' color='accent' (click)="onSubmitSearch()">Save</button>
                  <button mat-button mat-raised-button class='indigo' color='warn' (click)="onSubmitSearch()">New</button> 
                  <button mat-button mat-raised-button class='indigo' (click)="onSubmitSearch()">New</button> 

            </div>
          </div>


        </div> <!-- 'form-section' -->

      </div>
    </div>


    <br />




<!-- 


    <br />
    <br /><input class='btn-warning' type="submit" value="Save" />
    <br /><button type="button" (click)="mySubmit()">Save</button>
    <br /><p (click)="onGetIt()">onGetIt</p> -->
  </form>


  <div *ngIf="dbg">
    <br />  this.dbg: {{ this.dbg }} 
    <!--   
    <br />  employeeUnderEdit:  {{employeeUnderEdit}}

    <br />  this.emp: {{this.emp}}
    <br />  this.empdata: {{this.empdata}}
    <br />  this.empdataresult: {{this.empdataresult}}

    <br />  this.appointment:  {{this.appointment}}

-->

  </div>
</div>

